@import "../../css/units";
@import "../../css/colors";

.draggable {
    position: absolute;
    left: calc(var(--draggable-offset, 0) * 100% - 1.5rem / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    touch-action: none;
}

.draggable-tip {
    border: 0.25rem solid transparent;
    border-bottom-color: $input-background;
    margin-top: -0.25rem;
}

.draggable-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $input-background;
    border: 1px solid $form-border;
    border-radius: $form-radius;
}

.active-buuton {
    border: 1px solid $looks-secondary;
    box-shadow: 0px 0px 0px 3px $looks-transparent;
}

.draggable-button-swatch {
    width: 1rem;
    height: 1rem;
    border: 1px solid $form-border;
    border-radius: $form-radius;
}

.swatch-icon {
    width: 0.75rem;
    margin: 0.125rem;
}
