@import "../../css/units";
@import "../../css/colors";

.gradient-swatch {
    width: 12rem;
    height: 5rem;
    border: 1px solid $form-border;
    border-bottom: none;
    border-top-left-radius: $form-radius;
    border-top-right-radius: $form-radius;
}

.draggables-box {
    position: relative;
    width: 12rem;
    height: 2rem;
    border: 1px solid $form-border;
    border-bottom-left-radius: $form-radius;
    border-bottom-right-radius: $form-radius;
    background-color: $ui-primary;
    margin-top: -0.25rem;
}
